.header {
  padding-top: 25px;
  height: 237px;
  background-color: var(--header-color-bg);
}

.header_border-bottom {
  border-bottom: 1px solid var(--grey-2);
}

.header__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__title {
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 50px;
  line-height: 64px;
  color: var(--font-color);
}

.header__logo {
  display: flex;
}

.header__burger {
  margin-right: auto;
  display: none;
}

@media screen and (max-width: 375px) {
  .header {
    height: 80px;
    padding-top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .header__burger {
    display: block;
  }

  .header__top {
    justify-content: center;
  }

  .header__logo {
    margin-right: auto;
  }

  .header__title {
    display: none;
  }
}
