.tabs {
  flex-grow: 1;
}

.tabs__trigger {
  outline: none;
  width: 0px;
  height: 0px;
  position: absolute;
  pointer-events: none;
  opacity: 0;
}

.tabs__menu {
  border-bottom: 1px solid var(--grey-2);
  background-color: var(--white);
  padding: var(--tabs__menu_padding, 0);
}

.tabs__scroller {
  display: flex;
  gap: 40px;
}

.tabs__label {
  position: relative;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: var(--grey-3);
  margin: 8px 0px;
  cursor: pointer;
}

.tabs__label::before {
  content: '';
  position: absolute;
  bottom: -8px;
  left: 0;
  right: 0;
  height: 5px;
  background: var(--font-color);
  visibility: hidden;
}

.tabs__content {
  display: none;
  padding-top: 68px;
  padding-bottom: 92px;
}

/* all tab */
#all-tab:checked ~ .tabs__menu .tabs__scroller [for='all-tab'] {
  color: var(--font-color);
}
#all-tab:checked ~ .tabs__content_all {
  display: block;
}
#all-tab:checked ~ .tabs__menu .tabs__scroller [for='all-tab']::before {
  visibility: visible;
}

/* container-tab */
#container-tab:checked ~ .tabs__menu .tabs__scroller [for='container-tab'] {
  color: var(--font-color);
}
#container-tab:checked ~ .tabs__content_container {
  display: block;
}
#container-tab:checked
  ~ .tabs__menu
  .tabs__scroller
  [for='container-tab']::before {
  visibility: visible;
}

/* element-tab */
#element-tab:checked ~ .tabs__menu .tabs__scroller [for='element-tab'] {
  color: var(--font-color);
}
#element-tab:checked ~ .tabs__content_element {
  display: block;
}
#element-tab:checked ~ .tabs__menu .tabs__scroller [for='element-tab']::before {
  visibility: visible;
}

/* html */
#html:checked ~ .tabs__menu .tabs__scroller [for='html'] {
  color: var(--font-color);
}
#html:checked ~ .tabs__content_html {
  display: block;
}
#html:checked ~ .tabs__menu .tabs__scroller [for='html']::before {
  visibility: visible;
}

/* css */
#css:checked ~ .tabs__menu .tabs__scroller [for='css'] {
  color: var(--font-color);
}
#css:checked ~ .tabs__content_css {
  display: block;
}
#css:checked ~ .tabs__menu .tabs__scroller [for='css']::before {
  visibility: visible;
}

@media screen and (max-width: 375px) {
  .tabs__menu {
    padding: 0 16px;
  }
}
