/* Стилизация кнопки */
.button {
  height: 48px;
  border-radius: 8px;
  border: none;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: var(--white);
  cursor: pointer;
}

/* primary */
.button_primary {
  background: var(--primary);
}

.button_primary:hover {
  background: var(--primary-hover);
}

.button_primary:active {
  background: var(--primary-active);
}

.button_primary:disabled {
  background: var(--primary);
  opacity: 0.5;
  pointer-events: none;
}

/* secondary */
.button_secondary {
  background: #7048e8;
}

.button_secondary:hover {
  background: #5028c6;
}

.button_secondary:disabled {
  background: #7048e8;
  opacity: 0.5;
  pointer-events: none;
}

/* alternate */
.button_alternate {
  color: #495057;
  border: 1px solid #acb5bd;
}

.button_alternate:hover {
  color: #495057;
  border: 1px solid #212429;
}

.button_alternate:disabled {
  color: #495057;
  border: 1px solid #acb5bd;
  opacity: 0.5;
  pointer-events: none;
}
