/* Стилизация кнопки */
.button {
  height: 48px;
  border-radius: 8px;
  border: none;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: var(--white);
  background-color: var(--white);
  cursor: pointer;
}

/* primary */
.button_primary {
  background: var(--primary);
}

.button_primary:hover {
  background: var(--primary-hover);
}

.button_primary:active {
  background: var(--primary-active);
}

.button_primary:disabled {
  background: var(--primary);
  opacity: 0.5;
  pointer-events: none;
}

/* secondary */
.button_secondary {
  background: var(--secondary);
}

.button_secondary:hover {
  background: var(--secondary-hover);
}

.button_secondary:active {
  background: var(--secondary-active);
}

.button_secondary:disabled {
  background: var(--secondary);
  opacity: 0.5;
  pointer-events: none;
}

/* alternate */
.button_alternate {
  color: var(--serovato-blue);
  border: 1px solid var(--alternate);
}

.button_alternate:hover {
  color: var(--serovato-blue);
  border: 1px solid var(--alternate-hover);
}

.button_alternate:active {
  color: var(--serovato-blue);
  border: 1px solid var(--alternate-active);
}

.button_alternate:disabled {
  color: var(--serovato-blue);
  border: 1px solid var(--alternate);
  opacity: 0.5;
  pointer-events: none;
}
