.burger-menu-close {
  cursor: pointer;
  width: 32px;
  height: 32px;
  border-radius: 100%;
  background: var(--grey-2);
  justify-content: center;
  align-items: center;
  margin-right: auto;
  display: flex;
}

.burger-menu-close__icon {
  width: 24px;
  height: 24px;
}
