.accordion {
}

.accordion_preview {
}

.accordion_preview .accordion__item {
  padding: 7px 20px;
  pointer-events: none;
}

.accordion__item {
  padding: 24px 32px;
  background: var(--white);
  border: 1px solid var(--grey-3);
  margin-bottom: 8px;
  border-radius: 8px;
}

.accordion__item:last-child {
  margin-bottom: 0;
}

details[open] .accordion__marker {
  transform: rotate(180deg);
}

.accordion__summary {
  display: flex;
  justify-content: space-between;
  align-items: center;

  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: var(--black);

  cursor: pointer;
}

.accordion__summary::-webkit-details-marker {
  display: none;
}

.accordion__text {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: var(--grey-4);
}

.accordion__icon {
  width: 18px;
  height: 10px;
  color: var(--black);
}
