.toggler {
  display: inline-block;
}

/* mode-dark */

.toggler_mode-dark {
}

.toggler_mode-dark .toggler__control::before,
.toggler_mode-dark .toggler__control::after {
  content: '' !important;
}

/* mode lite */

.toggler_preview {
  pointer-events: none;
}

.toggler__state {
  display: flex;
  gap: 12px;
  align-items: center;
  position: relative;
}

.toggler__input {
  outline: none;
  width: 0px;
  height: 0px;
  position: absolute;
  pointer-events: none;
  opacity: 0;
}

.toggler__control {
  position: relative;
  border: 1px solid var(--grey-2);
  box-sizing: border-box;
  width: 52px;
  height: 28px;
  border-radius: 16px;
  cursor: pointer;
  transition: background-color 0.2s linear;
}

.toggler__control::before {
  content: '';
  transition: left 0.2s linear;
  background-color: var(--grey-2);
  width: 24px;
  height: 24px;
  top: 1px;
  left: 1px;
  border-radius: 16px;
  position: absolute;
  z-index: 1;
}

.toggler__control::after {
  content: 'off';
  transition: color 0.2s linear;
  top: 50%;
  left: 26px;
  border-radius: 16px;
  position: absolute;
  color: var(--grey-3);
  transform: translateY(-50%);
}

.toggler__title {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  color: var(--grey-4);
  cursor: pointer;
}

.toggler__input:checked ~ .toggler__state .toggler__control {
  background-color: var(--blue);
  border: 1px solid var(--blue);
}

.toggler__input:checked ~ .toggler__state .toggler__control::before {
  left: 25px;
  animation: checked_toggler 0.2s linear 0.2s;
}

.toggler__input:checked ~ .toggler__state .toggler__control::after {
  content: 'on';
  color: #fff;
  left: 4px;
}

.toggler__input:disabled ~ .toggler__state .toggler__control {
  border: 1px solid var(--grey-3);
  background-color: var(--grey-3);
  cursor: default;
}

.toggler__input:disabled ~ .toggler__state .toggler__control::after {
  content: '';
}

.toggler__input:disabled ~ .toggler__state .toggler__title {
  color: var(--grey-2);
  cursor: default;
}

.toggler__input:focus ~ .toggler__state .toggler__title {
  text-decoration: underline;
}

/* animate */

@keyframes checked_toggler {
  0% {
    box-shadow: 0px 0px 0px 0px var(--blue);
  }

  100% {
    box-shadow: 0px 0px 0px 15px transparent;
  }
}
