/* preview modal */

.modal.modal-preview {
  display: block;
}

.modal.modal-preview .modal__item {
  width: 90%;
  padding: 20px 20px;
}

/* modal */

.modal {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.modal__backdrop {
  background: #c4c4c4;
  opacity: 0.5;
  width: 100%;
  height: 100%;
}

.modal__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: absolute;
}

.modal__close {
  position: absolute;
  top: 12px;
  right: 12px;
  cursor: pointer;
  color: var(--grey-4);
  width: 16px;
  height: 16px;
  transition: 0.1s all linear;
}

.modal__close:hover {
  opacity: 0.5;
}

.modal__item {
  width: 428px;
  padding: 30px 40px;
  background: var(--white);
  border-radius: 8px;
  position: relative;
}

.modal__title {
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  color: #334d6e;
  margin-bottom: 14px;
}

.modal__content {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: var(--grey-4);
}
