.page {
}

.page__box {
  max-width: 1110px;
  margin: 0 auto;
}

.header {
  padding: 97px 0 77px;
  background-color: var(--white);
}

.header__heading {
}

.main {
  height: 1036px;
  background-color: #f9fafc;
}

.footer {
  padding: 56px 0;
  background-color: #f9fafc;
}

.footer__title {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  text-transform: uppercase;
  color: var(--grey-3);
  text-align: center;
}
