.dark-mode {
  padding-top: 28px;
  padding-bottom: 28px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid var(--grey-2);
  border-bottom: 1px solid var(--grey-2);
}

.dark-mode__title {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: var(--grey-4);
}

.dark-mode__control {
}
