@import '../fonts/fonts.css';
@import './normalize.css';

:root {
  --white: #ffffff;
  --black: #212429;
  --pink: #f784ad;
  --purple: #7048e8;
  --purple-heart: #5028c6;
  --blue: #4263eb;
  --azure-blue: #2342c0;
  --red: #f03d3e;
  --grey-1: #f8f9fa;
  --grey-2: #dde2e5;
  --grey-3: #acb5bd;
  --grey-4: #495057;

  --text-primary: var(--black);
  --font-color: var(--text-primary);

  --error: var(--red);
  --success: var(--blue);

  --primary: var(--blue);
  --primary-hover: var(--azure-blue);
  --primary-active: var(--blue);

  --secondary: var(--purple);
  --secondary-hover: var(--purple-heart);
  --secondary-active: var(--purple);

  --alternate: var(--grey-3);
  --alternate-hover: var(--black);
  --alternate-active: var(--grey-4);

  --header-color-bg: var(--white);
  --footer-color-bg: var(--white);
  --dark-bg: var(--grey-1);
  --logo: var(--black);
}

* {
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
}

.preload * {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -ms-transition: none !important;
  -o-transition: none !important;
  transition: none !important;
}

html:not(.style-scope)[data-theme-dark] {
  --white-bg: var(--black);
  --light-bg: var(--grey-4);
  --grey-bg: var(--grey-4);
  --card-bg: var(--black);
  --text-primary: var(--white);
  --active-text-color: var(--grey-2);
  --input-text-color: var(--font-color);

  --white: var(--black);
  --header-color-bg: var(--black);
  --footer-color-bg: var(--black);
  --font-color: #ffffff75;
  --dark-bg: var(--grey-4);
  --logo: var(--grey-1);
}

html:not(.style-scope)[data-mode='dark'] img {
  filter: brightness(0.8) contrast(1.2);
}
