@import '../fonts/fonts.css';
@import './normalize.css';

:root {
  --white: #ffffff;
  --black: #212429;
  --pink: #f784ad;
  --purple: #7048e8;
  --purple-heart: #5028c6;
  --blue: #4263eb;
  --azure-blue: #2342c0;
  --red: #f03d3e;
  --grey-1: #f8f9fa;
  --grey-2: #dde2e5;
  --grey-3: #acb5bd;
  --grey-4: #495057;

  --main-background: #f9fafc;

  --error: var(--red);
  --success: var(--blue);

  --primary: var(--blue);
  --primary-hover: var(--azure-blue);
  --primary-active: var(--blue);

  --secondary: var(--purple);
  --secondary-hover: var(--purple-heart);
  --secondary-active: var(--purple);

  --alternate: var(--grey-3);
  --alternate-hover: var(--black);
  --alternate-active: var(--grey-4);
}

* {
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
}

.preload * {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -ms-transition: none !important;
  -o-transition: none !important;
  transition: none !important;
}
