.component-menu {
  display: flex;
  flex-direction: column;
}

.component-menu__title {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 26px;
  color: var(--font-color);
  margin: 0px 0px 16px 0px;
}

.component-menu__link {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;
  color: var(--font-color);
  margin: 4px 0px;
  transition: color 0.25s ease-in-out;
  text-decoration: none;
}

.component-menu__link:hover {
  color: var(--red);
}

.component-menu__link_active {
  color: var(--red);
  margin: 4px 0px;
}
