.tooltip {
  position: relative;
  display: inline-flex;
  justify-content: center;
}

.tooltip__trigger {
  width: 24px;
  height: 24px;
  color: var(--black);
  z-index: 1;
}

.tooltip__trigger:hover ~ .tooltip__helper {
  opacity: 1;
  visibility: visible;
  transform: translateY(calc(-50% - 19px));
}

.tooltip__helper {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: var(--grey-2);
  transition: .1s all linear;

  background: var(--blue);
  box-shadow: 0px 2px 4px rgba(33, 36, 41, 0.05);
  border-radius: 10px;
  padding: 13px 21px 8px;

  width: 130px;

  top: -100%;
  transform: translateY(calc(-50% - 0px));
}

.tooltip__helper::before {
  content: '';
  border: 14px solid transparent;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  top: 100%;
  border-top: 6px solid var(--blue);
}
