.footer {
  padding: 56px 0;
  background-color: #f9fafc;
}

.footer__title {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  text-transform: uppercase;
  color: var(--grey-3);
  text-align: center;
}
