.footer {
  padding: 71px 0;
  background-color: var(--footer-color-bg);
}

.footer__title {
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 38px;
  line-height: 48px;
  text-align: center;
  color: var(--black);
  margin-bottom: 32px;
}

.footer__description {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: var(--font-color);
  max-width: 640px;
  margin: 0 auto;
}
