.form-checkboxbox {
}

.form-checkbox__label-container {
  display: flex;
  gap: 12px;
  align-items: center;
  position: relative;
}

.form-checkbox__input-icon {
  position: absolute;
  width: 28px;
  height: 28px;
  align-items: center;
  padding: 8px 0px 0px 7px;
  color: var(--white);
  fill: none;
  cursor: pointer;
}

.form-checkbox__input {
  background-size: contain;
  cursor: pointer;
  appearance: none;
  background-color: var(--white);
  border: 1px solid var(--grey-2);
  box-sizing: border-box;
  border-radius: 4px;
  width: 28px;
  height: 28px;
}

/* .form-checkbox__input:focus-visible ~ .form-checkboxbox__title{
  text-decoration: underline;
} */

.form-checkbox__input:checked {
  background-color: var(--blue);
}

.form-checkbox__input:disabled {
  background-color: var(--grey-2);
  cursor: default;
}

.form-checkbox__input:disabled ~ .form-checkbox__title {
  color: var(--grey-2);
  cursor: default;
}

.form-checkbox__input:disabled ~ .form-checkbox__input-icon {
  display: none;
  cursor: default;
}

.form-checkbox__title {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: var(--grey-4);
  cursor: pointer;
}
