.menu {
  display: flex;
  gap: 24px;
}

.menu_component {
}

.menu__item {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: right;
  color: var(--grey-3);
}

.menu__item_active {
  color: var(--font-color);
}

@media screen and (max-width: 375px) {
  .menu_component {
    display: none;
  }
}
